@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Times New Roman Local';
  src: url('/fonts/Times\ New\ Roman.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Times New Roman Local';
  src: url('/fonts/Times\ New\ Roman\ Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Times New Roman Local';
  src: url('/fonts/Times\ New\ Roman\ Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Times New Roman Local';
  src: url('/fonts/Times\ New\ Roman\ Bold\ Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Century Schoolbook';
  src: url('/fonts/CenturySchL-Ital.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@layer base {
  :root {
    @apply font-times;
  }
  
  html {
    @apply text-black dark:text-white bg-white dark:bg-black;
  }
  
  input {
    @apply bg-white/50 dark:bg-black/50 border border-black dark:border-white;
  }
}

@layer components {
  .link {
    @apply text-black dark:text-white hover:text-gray-500 underline decoration-dotted;
  }
  
  .nav-link {
    @apply no-underline text-black dark:text-white;
  }
  
  .overlay {
    @apply fixed z-40 w-full h-full top-0 left-0 flex justify-center items-center bg-black/30;
  }
  
  .modal {
    @apply bg-white/70 dark:bg-black/50 backdrop-blur border border-black dark:border-white flex justify-center items-center shadow-lg;
  }
}
